* {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    color: white;
    background-color: #222;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}